In [2]:
# Group Information
# Group 30:
# Francis Ding - 74307844 RQ 2 Case Design and ML Prediction.
# Jiarun Pan 47294608 - RQ 1 Data comparison and visualization.
# Han Qin 25140877 - RQ 2 Data Labeling and Transforming.

In [ ]:
### PART II - Research Question 2
### Given the following case: in May 2023, a woman wants to take a 5th-class class-change Road Test in Vancouver island.
### Will she, most probably, pass or fail.

In [ ]:
## 1. Importing Libraries for usage of the project.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%config InlineBackend.figure_format='retina' # display figures in retina quality
from sklearn.cluster import KMeans
from sklearn.linear_model import LogisticRegression
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)

from sklearn.preprocessing import LabelEncoder

In [2]:
## 2. Importing our dataset and drop error NA values.

df = pd.read_csv('BC_driver_license_test.csv')

/var/folders/nb/6qcxnwwn63qflk99ycftkdcr0000gn/T/ipykernel_13145/1908921218.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('BC_driver_license_test.csv')

In [3]:
df = df.dropna()
df.shape

(1417534, 12)

In [4]:
## 3.Datawashing, clean the unnecessary details of strs.

In [5]:
driver_exam_breakdown_indicator = []
for i in range(len(df['driver_exam_breakdown'])):
    driver_exam_breakdown_indicator.append(df['driver_exam_breakdown'][i][6])
    
df['driver_exam_breakdown'] = driver_exam_breakdown_indicator

In [6]:
df

,test_id,driver_exam_breakdown,year,exam_month,exam_reason,exam_result,exam_type,gender,office_municiplaity,region,exam_class,exam_date
0,0,6,2017,May,Re-test,Failed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09
1,1,6,2017,May,Re-test,Failed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09
2,2,6,2017,May,Re-test,Passed,Motorcycle Skills,Female,PORT HARDY,Vancouver Island,6,2017-05-09
3,3,6,2017,May,Re-test,Passed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09
4,4,6,2017,May,Re-test,Passed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09
...,...,...,...,...,...,...,...,...,...,...,...,...
1417529,1417529,5,2018,June,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-20
1417530,1417530,5,2018,June,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-20
1417531,1417531,5,2018,June,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25
1417532,1417532,5,2018,June,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25
1417533,1417533,5,2018,June,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25

In [7]:
# 4.Costumize our label encoder, since using label encoder.applyall will mess up infos with weird values.
##  Use Supervised learning method le. -> label encoder to automate binary transform our data.
##  Since we already have our label encoder ----> le. we can use all methods from le.

## encode exam_month by specifying the encoder.class ---> else the May will be displayed as 8.
# Define a custom mapping of month names to numerical labels
month_map = {'January': 1, 'February': 2, 'March': 3, 'April': 4, 'May': 5,
             'June': 6, 'July': 7, 'August': 8, 'September': 9, 'October': 10, 'Novemember': 11, 'December':12}

# Create a LabelEncoder object and set its mapping to the custom mapping
le = LabelEncoder()
le.fit(df['exam_month'].str.strip().map(month_map))

# Transform the exam_month column into numerical labels
df['exam_month_encoded'] = le.transform(df['exam_month'].str.strip().map(month_map)) + 1
df['exam_month'] = df['exam_month_encoded']

In [8]:
df

,test_id,driver_exam_breakdown,year,exam_month,exam_reason,exam_result,exam_type,gender,office_municiplaity,region,exam_class,exam_date,exam_month_encoded
0,0,6,2017,5,Re-test,Failed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09,5
1,1,6,2017,5,Re-test,Failed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09,5
2,2,6,2017,5,Re-test,Passed,Motorcycle Skills,Female,PORT HARDY,Vancouver Island,6,2017-05-09,5
3,3,6,2017,5,Re-test,Passed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09,5
4,4,6,2017,5,Re-test,Passed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417529,1417529,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-20,6
1417530,1417530,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-20,6
1417531,1417531,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25,6
1417532,1417532,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25,6
1417533,1417533,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25,6

In [9]:
#-------------------------------------------------------------------------------------
# Now We've established cleaning for classes and month, let's apply encoding to all other components that
# does not involve any numerical relationship with the string.

# first train le to fit exam_reason.
le.fit(df['exam_reason'])
df['exam_reason_encoded'] = le.transform(df['exam_reason'])

In [10]:
# Verify each corresponding components.
print(df['exam_reason'].unique())

['Re-test' 'Upgrade' 'Re-exam' 'Class Change' 'Original'
 'Restriction Change' 'Information not available' 'Downgrade'
 'New Licence']

In [11]:
print(df['exam_reason_encoded'].unique())

[6 8 5 0 4 7 2 1 3]

##### Where we could've categorize them in this tab.
#####

## Exam_Reason:
    0 - Class Change              1 - Downgrade
    2 - Information not available 3 - New Licence
    4 - Original                  5 - Re-exam
    6 - Re-test                   7 - Restriction Change
    8 - Upgrade

In [12]:
## train and fit exam result
## Which is a simple binary, Pass = 1, Fail = 0.
le.fit(df['exam_result'])
df['exam_result_encoded'] = le.transform(df['exam_result'])

In [13]:
## train and fit exam_type
## Which is a binary as well, Motorcycle = 0, Road = 1.
print(df['exam_type'].unique())
le.fit(df['exam_type'])
df['exam_type_encoded'] = le.transform(df['exam_type'])

['Motorcycle Skills' 'Road']

In [14]:
## train and fit gender.
## Where there are 3 values, Male = 2 , Female = 0, INA =1.
print(df['gender'].unique())
le.fit(df['gender'])
df['gender_encoded'] = le.transform(df['gender'])

['Male' 'Female' 'Information not available']

In [15]:
## train and fit region
## Since region has multiple locations, we have to display them using tables.
le.fit(df['region'])
df['region_encoded'] = le.transform(df['region'])

In [16]:
## Aligning
## Lower Mainland: 0   Vancouver Island: 4
## North Central: 1    Southern Interior: 2
## Unknown: 3
df['region'].unique()

array(['Lower Mainland', 'Vancouver Island', 'North Central',
       'Southern Interior', 'Unknown'], dtype=object)

In [17]:
df['region_encoded'].unique()

array([0, 4, 1, 2, 3])

In [18]:
df

,test_id,driver_exam_breakdown,year,exam_month,exam_reason,exam_result,exam_type,gender,office_municiplaity,region,exam_class,exam_date,exam_month_encoded,exam_reason_encoded,exam_result_encoded,exam_type_encoded,gender_encoded,region_encoded
0,0,6,2017,5,Re-test,Failed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09,5,6,0,0,2,0
1,1,6,2017,5,Re-test,Failed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09,5,6,0,0,2,0
2,2,6,2017,5,Re-test,Passed,Motorcycle Skills,Female,PORT HARDY,Vancouver Island,6,2017-05-09,5,6,1,0,0,4
3,3,6,2017,5,Re-test,Passed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09,5,6,1,0,2,0
4,4,6,2017,5,Re-test,Passed,Motorcycle Skills,Male,SURREY,Lower Mainland,6,2017-05-09,5,6,1,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1417529,1417529,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-20,6,0,1,1,0,4
1417530,1417530,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-20,6,0,1,1,0,4
1417531,1417531,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25,6,0,1,1,0,4
1417532,1417532,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25,6,0,1,1,0,4
1417533,1417533,5,2018,6,Class Change,Passed,Road,Female,NANAIMO DLO,Vancouver Island,5,2018-06-25,6,0,1,1,0,4

In [19]:
##5. After we've encoded all columns that we need, now we've can create a new column only contains the encoded codes,
###  and count for the option that has the greatest correlation with pass for exam.

In [20]:
edf = df.loc[:, ['exam_class', 'exam_month_encoded', 
                 'exam_reason_encoded', 'exam_result_encoded', 'exam_type_encoded',
                 'gender_encoded', 'region_encoded']]

## Here we do not take the data of "year" and "municipality" into account because:
##(a) "year" is historical data and will not reappear in the future, data for this variable is not helpful for predicting results;
##(b) "office_municiplaity" has more than 100 values, which is too complex and will reduce the accuracy of prediction. And a municipality has and only corresponds to one region, so using region to predict will increase the accuracy of prediction.

In [21]:
edf

,exam_class,exam_month_encoded,exam_reason_encoded,exam_result_encoded,exam_type_encoded,gender_encoded,region_encoded
0,6,5,6,0,0,2,0
1,6,5,6,0,0,2,0
2,6,5,6,1,0,0,4
3,6,5,6,1,0,2,0
4,6,5,6,1,0,2,0
...,...,...,...,...,...,...,...
1417529,5,6,0,1,1,0,4
1417530,5,6,0,1,1,0,4
1417531,5,6,0,1,1,0,4
1417532,5,6,0,1,1,0,4
1417533,5,6,0,1,1,0,4

In [22]:
##### Step 6.
##### Train the Model with our selected question, given a dataset to predict whether the dataset is going to pass or 
##### fail? In order to predict wether a set of data will pass or fail, we have to set our target predictive dataset 
##### as Y, and our inputdatasets as all other numerical columns.
##### We can use Multiple classifiers and predicter modules to solve this problem from sklearn.
##### We are going to use the RandomForest classifier to train our predictive model, and use a random dataset we made
##### up to test the effectiveness of the model.

In [23]:
X = edf.loc[:, ['exam_class', 'exam_month_encoded', 'exam_reason_encoded','exam_type_encoded',
                'gender_encoded', 'region_encoded']].values

y = edf.loc[:, ['exam_result_encoded']].values

In [24]:
X

array([[6, 5, 6, 0, 2, 0],
       [6, 5, 6, 0, 2, 0],
       [6, 5, 6, 0, 0, 4],
       ...,
       [5, 6, 0, 1, 0, 4],
       [5, 6, 0, 1, 0, 4],
       [5, 6, 0, 1, 0, 4]])

In [25]:
y

array([[0],
       [0],
       [1],
       ...,
       [1],
       [1],
       [1]])

In [26]:
type(X)

numpy.ndarray

In [27]:
type(y)

numpy.ndarray

In [28]:
#### The first thing to do after we've created the dataset is to split the dataset to training sets and test sets.
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [29]:
print(X_train.shape)
print(X_test.shape)

(1134027, 6)
(283507, 6)

In [30]:
print(y_train.shape)
print(y_test.shape)

(1134027, 1)
(283507, 1)

In [31]:
y_train = y_train.ravel()

In [32]:
y_test = y_test.ravel()

In [33]:
y_test.shape

(283507,)

In [37]:
#### Find the best N estimator for RandomForest by using the 5Fold cross-validation.
from sklearn.ensemble import RandomForestClassifier

In [54]:
from sklearn.model_selection import KFold


lowest_cross_val_error = np.inf
best_n_estimators = None

indices = range(len(X_train))
kf = KFold(n_splits=5, shuffle=True, random_state=0) #将train data再次分为五个fold

for k in range(5,101,5):
    
    errors = []
    
    for train_indices, val_indices in kf.split(indices):
        
        classifier = RandomForestClassifier(n_estimators=k, random_state=0)
        
        classifier.fit(X_train[train_indices],
                       y_train[train_indices])
        
        predicted_val_labels = classifier.predict(X_train[val_indices])
        
        error = np.mean(predicted_val_labels != y_train[val_indices])
        
        errors.append(error)
        
    cross_val_error = np.mean(errors)
    print('n_estimators:', k, 'cross validation error:', cross_val_error)

    if cross_val_error < lowest_cross_val_error:
        lowest_cross_val_error = cross_val_error
        best_n_estimators = k

print('\nBest n_estimators:', best_n_estimators, '\ncross validation error:', lowest_cross_val_error)

n_estimators: 5 cross validation error: 0.3601578332498867
n_estimators: 10 cross validation error: 0.36015425696778963
n_estimators: 15 cross validation error: 0.3601041890184298
n_estimators: 20 cross validation error: 0.3600803471377822
n_estimators: 25 cross validation error: 0.36011372577068884
n_estimators: 30 cross validation error: 0.36019359607085805
n_estimators: 35 cross validation error: 0.36008511551391165
n_estimators: 40 cross validation error: 0.360101804830365
n_estimators: 45 cross validation error: 0.36010061273633265
n_estimators: 50 cross validation error: 0.36006842619745844
n_estimators: 55 cross validation error: 0.3600064373077748
n_estimators: 60 cross validation error: 0.36003504756455185
n_estimators: 65 cross validation error: 0.36001478196600145
n_estimators: 70 cross validation error: 0.3600123977779367
n_estimators: 75 cross validation error: 0.3600183582480986
n_estimators: 80 cross validation error: 0.3600314712824547
n_estimators: 85 cross validation error: 0.3600410080347137
n_estimators: 90 cross validation error: 0.36003504756455185
n_estimators: 95 cross validation error: 0.36008988389004126
n_estimators: 100 cross validation error: 0.3600457764108433

Best n_estimators: 55
cross validation error: 0.3600064373077748

In [38]:
## Best n_estimator = 55.
## We will create our randomForest method to train and predict results for our research question.

In [40]:
##look at the test data to evaluate performance of the model with the best n_estimators
best_n_estimators = 55
final_rf_classifier = RandomForestClassifier(n_estimators = best_n_estimators, random_state=0)
final_rf_classifier.fit(X_train, y_train)

predicted_y_test = final_rf_classifier.predict(X_test)

error_rate = np.mean(predicted_y_test != y_test)
print(error_rate)

0.39584560522315143

In [41]:
#Finally input the data and get the prediction
#We set the scenario: in May 2023, a woman wants to take a 5th-class class-change Road Test in Vancouver island.
#Will she, most probably, pass the exam?

#Exam_class = 5, exam_month = 5,Exam_Reason = 0,Exam_type = 1, gender = 0, region = 4
predicted_y_test_assumption = final_rf_classifier.predict([[5,5,0,1,0,4]]) 
predicted_y_test_assumption

array([1])

In [1]:
#Thus, our conclusion is that by training the randomForest model using the selected datasets, the result tells us
#that the case will mostly pass.